body{
    overflow-x: hidden;
}
.box{
    width: 1100px;
    height: 600px;
    border: 1px black solid;
    margin: 30px auto;
}
*{
    margin: 0px;
    padding: 0px;
}
.contenier{
    width: 1100px;
    margin: 0 auto;
}
/* 头部导航 */
.nav{
    min-width: 1100px;
    height: 30px;
    margin: 0 auto;
    background-color: #F5F5F5;
    line-height: 30px;
}
.nav_box{
    float: right;
}
.nav ul li{
    float: left;
}
.city{
    width: 520px;
    height: 300px;
    border: 1px solid #cccccc;
    position: absolute;
    top: 30px;
    z-index: 99;
    background-color: #ffffff;
    display: none;
}
.ul_tab{
    margin-top: 10px;
}
.ul_tab hr{
    position: relative;
    width: 330px;
    top: 31px;
}
.s_top{
    width: 508px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.s_top .s1{
    float: left;
    margin: 0px 20px;
}
.s_top .s2{
    float: right;
    margin: 0px 20px;
    cursor: pointer;
    font-size: 21px;
    color: #808080;
}
.c-h-area-tab-header{
    position: relative;
    top: 5px;
}
.tab_top{
    margin-left: 20px;
}
.tab_top .s2{
    border-top: 2px solid #F10180;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 0px;
    font-weight: bold;
}
.tab_top span{
    display: block;
    border: 1px solid #cccccc;
    background-color: #F8F8F8;
    text-align: center;
    width: 70px;
    height: 30px;
    float: left;
    cursor: pointer;
}
.tab_centerrairies{
    width: 472px;
    height: 200px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 15px;
    display: block;
}
.tab_centerrairies li{
    width: 41px;
    height: 28px;
    text-align: center;
    float: left;
    margin-left: 5px;
    margin-right: 25px;
}
/* .tab_centerrairies li:hover{
    border: 1px solid #F10180;
} */
.tab_centerrairies .a1{
    font-size: 11px;
    text-align: center;
    display: block;
    width: 30px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab_centerrairies .a1:hover{
    color: #F10180;
}

.tab_centerrairies li .Canton{
    color: #F10180;
}
.ul_tab .tab_bottomrairies{
    width: 472px;
    height: 200px;
    margin-left: 20px;
    margin-top: 15px;
    display: none;
}
.tab_bottomrairies li{
    width: 61px;
    height: 28px;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}
.tab_bottomrairies .a1{
    font-size: 11px;
    text-align: center;
    display: block;
    width: 30px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab_bottomrairies .a1:hover{
    color: #F10180;
}
.tab_bottomrairies li .Deity{
    color: #F10180;
}
.nav ul .li1{
    margin-right: 160px;
}
.nav ul li a{
    font-size: 13px;
    color: #7D6666;
}
/* 所有图标 */
.sp{
    margin-left: 10px;
    margin-right: 10px;
    color: #EBEBEB;
}
.nav ul li .a1{
    float: left;
}
.icon-liwu{
    color: #F10180;
}

.li1 .a1{
    width: 90px;
    height: 30px;
    position: relative;
    text-indent: 15px;
}
.li1 .a1 span{
    padding-right: 15px;
}
.icon-xiajiantou{
    color: #999999;
    position: absolute;
    top: 2px;
    right: 0px;
}
.icon-caret-up{
    color: #999999;
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}
.icon-caret-down{
    position: relative;
    top: 2px;
    color: #999999;
}
.icon-phone{
    color: #333333;
}

/* logo和输入框购物袋以及导航 */
.toplog{
    height: 152px;
    position: relative;
}
.left_logo{
    width: 475px;
    height: 100px;
    /* border: 1px solid black; */
    float: left;
    position: relative;
    right: 20px;
    left: 0px;
}
.logo{
    width: 150px;
    height: 100px;
    display: block;
    background: url(../images/logo.png) no-repeat center;
    background-size: 100%;
    float: left;
}
.logo2{
    display: block;
    width: 305px;
    height: 100px;
    background: url(../images/toplogo.jpg) no-repeat center;
    background-size: cover;
    margin-left: 150px;
}
.sub{
    width: 35px;
    height: 35px;
    background-color: #FA2A83;
    border: 0;
    position: relative;
    top: 13px;
    right:39.5px;
    cursor: pointer;
}
.right_ip{
    float: right;
    width: 500px;
    height: 100px;
}
.inp{
    width: 375px;
    height: 32px;
    border: 2px solid #f11373;
    line-height: 32px;
    font-size: 13px;
}
.icon-sousuo{
    position: relative;
    right: 68px;
    font-size: 21px;
    top: 3px;
    color: #F5F5F5;
    cursor: pointer;
}
.sh{
    margin-top: 3px;
}
.right_ip form{
    margin-top: 16px;
}
.sh a{
    font-size: 12px;
    line-height: 10px;
    position: relative;
    top: 1px;
    color: #cccccc;
    margin-left: 7px;
    margin-right: 7px;
}
.sh .a1{
    color: #FA2A83;
}
.sh{
    color: #cccccc; 
}
.shouping{
    width: 100px;
    height: 35px;
    border: 1px solid #cccccc;
    float: right;
    position: relative;
    bottom: 55px;
    line-height: 35px;
    cursor: pointer;
    background-color: #F6F7F9;
}
.shouping .iconfont{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
    font-size: 18px;
    float: left;
}
.shouping .s1{
    position: relative;
    top: 2px;
    font-size: 12px;
    color: #333333;
}
.shouping .s2{
    display: block;
    width: 20px;
    height: 12px;
    border-radius: 5px;
    background-color: #F10180;
    float: right;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    color: #F5F5F5;
    margin-top: 12px;
    margin-right: 8px;
}

/* 网页导航栏 */
.htm_nav{
    width: 945px;
    height: 50px;
    position: absolute;
    bottom: 0px;
}
.uli1{
    text-align: center;
    line-height: 50px;
    width: 945px;
    position: relative;
}
.uli1 li{
    float: left;
}
.uli1 .liu2{
    width: 135px;
    height: 50px;
    background-color: #F10180;
    font-size: 18px;
    margin-right: 26.5px;
    cursor: pointer;
}
.uli1 .liu2 a{
    color: #F5F5F5;
}
.uli1 .liu9{
    float: right;
}
.uli1 li a{
    margin-left: 15px;
    margin-right: 14px;
    font-size: 14px;
    color: #000000;
}
.uli1 .liu9 a{
    float: right;
    color: black;
    position: relative;
    left: 8px;
}
.uli1 .liu9 .icon-xiajiantou1{
    padding-left: 3px;
    padding-right: 3px;
}
.liu9{
    position: relative;
}
/* 侧边栏 */
.li12{
    width: 135px;
    height: 462px;
    position: absolute;
    top: 50px;
    float: left;
    background-color: #F10180;
    text-align: left;
    display: none;
    z-index: 2;
}
.li12 li a{
    color: #f11373;
    font-size: 13px;
}
.ul3{
    width: 135px;
    height: 42px;
    line-height: 38.5px;
}
.liu2 li:hover{
    background-color: #F5F5F5;
    
}
.liu2 li:hover a{
    color: #f11373;
}
.right_nav{
    width: 800px;
    height: 405px;
    background-color: #fff;
    z-index: 99999;
    position: absolute;
    left: 135px;
    position: relative;
    display: none;
}
.left_box{
    width: 100px;
    height: 384px;
    line-height: 29px;
    position: absolute;
    right: 688px;
}
.left_box b{
    display: block;
    cursor: pointer;
}
.left_box b span{
    float: right;
    padding-right: 15px;
}
.pro-fav-name{
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0px 0px;
    color: #333333;
}
.left_title{
    float: left;
    width: 255px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
}
.left_title span{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}
.left_title>span{
    font-size: 14px;
    font-weight: normal;
    padding-left: 10px;
}
.pro-fav-name .right_title{
    float: right;
    width: 145px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #F5F5F5;
    border-radius: 25px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: all 1s ease;
}
.pro-fav-name .right_title:hover{
    background-color: #F10180;
    color: #fff;
}
.pro-fav-name .right_title:hover .icon-shoucang{
    color: #fff;
}
.pro-fav-name .right_title:hover .s2{
    color: #fff;
}
.pro-fav-name .right_title .icon-shoucang{
    color: #FA2A83;
    font-size: 13px;
}
.pro-fav-name .right_title span{
    font-size: 12px;
}
.pro-fav-name .right_title span:nth-child(2){
    color: #FA2A83;
}
.list_showping{
    width: 1100px;
    height: 205px;
    border: 1px solid #F5F5F5;
    margin: 0px auto;
    margin-top: 20px;
    border-bottom: 0;
}
.list_showping .top_Details{
    width: 1100px;
    height: 50px;
    border-bottom: 1px solid #F5F5F5;
}
.list_showping .center_list{
    height: 50px;
    border-bottom: 1px solid #F5F5F5;
}
.list_showping .center_list h3{
    float: left;
    padding: 16px 0px 16px 20px;
    font-size: 12px;
    color: #333333;
}
.list_showping .top_Details h3{
    float: left;
    padding: 16px 0px 16px 20px;
    font-size: 12px;
    color: #333333;
}
.list_showping .top_Details .top_ul{
    height: 50px;
    line-height: 50px;
    width: 711px;
    padding-left: 60px;
    float: left;
}
.list_showping .top_Details .top_ul li{
    float: left;
    margin-right: 40px
}
.list_showping .top_Details .top_ul li a{
    font-size: 12px;
    color: #333333;
}
.list_showping .top_Details .top_ul li a:hover{
    color: #F10180;
}
.list_showping .top_Details .right_more{
    width: 70px;
    height: 30px;
    line-height: 33px;
    float: right;
    margin: 8px 10px 0px 0px;
    text-align: center;
    border: 1px solid #F5F5F5;
    cursor: pointer;
}
.list_showping .top_Details .right_more span{
    font-size: 12px;
}
.list_showping .top_Details .right_more .icon-plus-line{
    font-size: 10px;
    position: relative;
}
.list_showping .top_Details .ul2,.ul1,.ul23{
    height: 50px;
    line-height: 50px;
    padding-left: 100px;
}
.banner .list_showping .top_Details .ul1 li{
    float: left;
    margin-right: 25px;
    margin-left: 25px;
}
.banner .list_showping .top_Details .ul1 li a{
    color: #333333;
}
.banner .list_showping .top_Details .ul2 li{
    float: left;
    margin-right: 25px;
    margin-left: 25px;
}
.banner .list_showping .top_Details .ul2 li a{
    color: #333333;
}
.banner .list_showping .top_Details .ul23 li{
    float: left;
    margin-right: 25px;
    margin-left: 25px;
}
.banner .list_showping .top_Details .ul23 li a{
    color: #333333;
}
.btn{
    width: 1100px;
    height: 30px;
    margin: 0px auto;
    text-align: center;
}
.btn .more{
    border-top: 0px;
    border-left: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    margin-top: -1.5px;
    z-index: 999;
    width: 110px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    color: #333333;
    outline: none;
    cursor: pointer;
    font-size: 12px;
}
.btn .more .icon-xiajiantou1{
    padding-left: 5px;
    font-size: 13px;
}
.list_top{
    width: 1100px;
    margin: 20px auto;
    height: 48px;
    background-color: #F5F5F5;
    line-height: 48px;
    border: 1px solid #DFDFDF;
}
.list_top .list_tleft{
    float: left;
    width: 620px;
    height: 48px;
}
.list_top .list_tleft ul li{
    float: left;
}
.list_top .list_tleft ul li a{
    color: #333333;
    font-size: 12px;
}
.list_top .list_tleft ul li a:hover{
    color: #f11373;
}
.list_top .list_tleft ul li.li1{
    width: 67px;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    text-align: center;
}
.list_top .list_tleft ul li.li0{
    width: 69px;
    border: 1px solid #f11373;
    background-color: #fff;
    position: relative;
    top: -1px;
    right: 1px;
}
.list_top .list_tleft ul li.li0 a{
    color: #f11373;
}
.list_top .list_tleft ul .li2{
    width: 78px;
    height: 48px;
    border-right: 1px solid #DFDFDF;
    position: relative;
    text-align: center;
}
.list_top .list_tleft ul li.li2 a .s1{
    position: absolute;
    left: 18px;
}
.list_top .list_tleft ul li.li2 a .icon{
    display: block;
    width: 8px;
    height: 40px;
    position: absolute;
    line-height: 10px;
    top: 15px;
    right: 20px;
}
.list_top .list_tleft ul li.li2 a .icon span{
    float: left;
}
.list_top .list_tleft ul li.li2 a .icon .iconfont{
    display: block;
    font-size: 13px;
    font-weight: bold;
}
.list_top .list_tleft ul li.li2 a .icon .icon-xiajiantou1{
    font-size: 10px;
    position: relative;
    left: 1.5px;
}
.list_top .list_tleft ul li.li3{
    width: 226px;
    height: 48px;
    padding: 0px 0px 0px 20px;
    line-height: 48px;
}
.list_top .list_tleft ul li.li3 input{
    width: 62px;
    height: 24px;
    border: 1px solid #DFDFDF;
    color: #888888;
}
.list_top .list_tleft ul li.li3 .s10{
    position: relative;
    left: 0.5px;
}
.list_top .right_list{
    float: right;
    width: 261px;
    height: 48px;
    text-align: center;
    position: relative;
    line-height: 48px;
}
.list_top .right_list .s1{
    float: left;
    margin-right: 17px;
    margin-top: 2px;
}
.list_top .right_list .s1 b{
    color: #f11373;
    font-weight: normal;
}
.list_top .right_list span{
    font-size: 13px;
    float: left;
}
.list_top .right_list .s3{
    display: block;
    width: 110px;
    height: 24px;
    line-height: 24px;
    margin-top: 14px;
    float: right;
    margin-right: 20px;
    font-size: 12px;
}
.list_top .right_list .s3 span{
    float: left;
}
.list_top .right_list .s3 .icon-leftarrow{
    display: block;
    width: 27px;
    height: 20px;
    border: 1px solid #888888;
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
    float: left;
    cursor: pointer;
    color: #D1D1D1;
}
.list_top .right_list .s3 .icon-leftarrow:hover{
    color: #FA2A83;
    border: 1px solid #FA2A83;
}
.list_top .right_list .s2{
    margin-top: 2px;
}
.list_top .right_list .s2 .s21{
    color: #FA2A83;
}
.list_top .right_list .icon-rightarrow{
    display: block;
    width: 60px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    border: 1px solid #888888;
}
.list_top .right_list .icon-rightarrow:hover{
    color: #FA2A83;
    border: 1px solid #FA2A83;
}
.list_top .right_list .icon-rightarrow span{
    font-size: 12px;
    position: relative;
    left: 5px;
}
/* 列表照片盒子 */
.list_img_bottom{
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
      flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;
    left: 2px;
}
.list_img_bottom .list_img_box{
    width: 210px;
    height: 348px;
    position: relative;
    border: 1px solid #F5F5F5;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.list_img_bottom .list_img_box .top_img{
    width: 208px;
    height: 218px;
    position: absolute;
    top: 0px;
}
.list_img_bottom .list_img_box .top_img img{
    width: 208px;
    height: 218px;
}
.list_img_bottom .list_img_box .bottom_txt{
    width: 208px;
    height: 130px;
    position: absolute;
    bottom: 0px;
}
.list_img_bottom .list_img_box .bottom_txt .top_txt{
    width: 180px;
    margin: 0 auto;
    padding: 12px 0px 0px;
    line-height: 25px;
}
.list_img_bottom .list_img_box .bottom_txt .top_txt .a1{
    display: block;
    width: 38px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background: #F10180;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    border-radius: 15px;
    float: left;
}
.list_img_bottom .list_img_box .bottom_txt .top_txt b{
    font-size: 18px;
    position: relative;
    left: 5px;
}
.list_img_bottom .list_img_box .bottom_txt .top_txt .sp21{
    float: right;
    position: relative;
    top: 2px;
}
.list_img_bottom .list_img_box .bottom_txt .top_txt .sp21 span{
    color: #D1D1D1;
}
.list_img_bottom .list_img_box .bottom_txt .s1{
    color: #D1D1D1;
    font-size: 15px;
    padding-left: 15px;
}
.list_img_bottom .list_img_box .bottom_txt .p1{
    display: block;
    width: 180px;
    font-size: 13px;
    position: relative;
    top: 8px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_img_bottom .list_img_box .bottom_txt .s2{
    position: relative;
    top: 15px;
    margin-left: 13px;
    display: block;
    background-color: rgba(240,56,103,.2);
    width: 45px;
    height: 20px;
    text-align: center;
    font-size: 11px;
    color: #F10180;
    line-height: 20px;
    border-radius: 5px;
    margin-top: 3px;
}
.list_img_bottom .list_img_box .bottom_txt .s3{
    width: 60px;
    color: #32b444;
    background-color: rgba(214,240,218,.5);
}

/* 底部 */
.footer{
    height: 565px;
    margin-top: 10px;
}
.footer .footer_icon{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .footer_icon .icon_box{
    display: block;
    width: 65px;
    height: 65px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    float: left;
    line-height: 65px;
    text-align: center;
}
.footer .footer_icon .icon_box span{
    font-size: 41px;
    color: #cccccc;
}
.footer .footer_icon .icon_box p{
    font-size: 14px;
    position: relative;
    bottom: 20px;
}
.footer_list{
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_list .list_details{
    width: 140px;
    height: 126px;
    border-right: 1px solid #cccccc;
    text-align: left;
}
.footer_list .list_details li a{
    display: block;
    margin-top: 10px;
    color: #333333;
}
.footer_list .list_details li a:hover{
    color: #F03867;
}
.footer_list .list_details li a .s0{
    background: url(../images/jlt.png) no-repeat;
}
.footer_list .no{
    border-right: 0px;
}
.footer_list .list_details h3{
    font-size: 13px;
}
.footer_list .list_details li a .s1{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-position: -8px -505px;  
    position: relative;
    top: 3px;
}
.footer_list .list_details li a:hover .s1{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-position: -8px -523px;  
    position: relative;
    top: 3px;
}
.footer_list .no{
    position: relative;
    bottom: 15px;
}
.footer_list .no img{
    width: 90px;
    height: 90px;
    margin: 5px 0px;
    border: 5px solid #F03867;
}
/* 导航 */
.footer_nav .nav_footer{
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #f11373;
}
.footer_nav .nav_footer li{
    float: left;
}
.footer_nav .nav_footer .navbox{
    height: 50px;
    width: 730px;
    margin: 0 auto;
}
.footer_nav .nav_footer li a{
    font-size: 12px;
    color: #fff;
    height: 54px;
    margin-right: 10px;
    margin-left: 10px;
}
.footer .top_p{
    width: 100%;
    height: 75px;
    text-align: center;
    margin: 15px auto;
    line-height: 25px;
}
.footer .top_p p{
    color: #808080;
}
.footer .top_p p a{
    margin-right: 5px;
    color: #999999;
}
.footer .top_p img{
    position: relative;
    top: 2px;
}
.footer .top_p a:hover{
    color: #F10180;
}
.footer .top_p .s1{
    color: #999999;
}
.footer .top_p span{
    color: #000000;
}
.footer .top_p span{
    color: #999999;
}
.jl_img{
    width: 650px;
    height: 55px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.jl_img .m1{
    display: block;
    width: 120px;
    height: 55px;
    margin-left: 20px;
    margin-right: 20px;
    background: url(../images/jlt.png) no-repeat;
}
.jl_img .img2{
    display: inline-block;
    width: 120px;
    height: 55px;
    background-position: 0 -150px;
    margin-top: 20px;
}
.jl_img .img3{
    display: inline-block;
    width: 120px;
    height: 55px;
    margin-top: 20px;
    background-position: 8px -450px;
}
.jl_img .img4{
    display: inline-block;
    width: 120px;
    height: 55px;
    margin-top: 20px;
    background-position: 0 -400px;
}
.jl_img .img5{
    display: inline-block;
    width: 120px;
    height: 55px;
    margin-top: 20px;
    background-position: 0 -251px;
}
.jumbotron{
    width: 100%;
    height: 100px;
  
}
.jumbotron h1{
    text-align: center;
    font-size: 20px;
}
.jumbotron p{
    text-align: center;
    font-size: 20px;
}
.jumbotron a{
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background-color: red;
    color: #fff;
}