body,ol,ol,ul,h1,h2,h3,h4,h5,h6,p,span,th,dl,td,dd,form,fieldset,legend,input,textarea,select{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
i,em{
    font-style: normal;
}
a{
    text-decoration: none;
}
input{
    outline: none;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,strong{
    font-weight: normal;
}
.clearfix{
    *zoom: 1;
}
.clearfix::after{
    visibility: hidden;
    clear: both;
    display: block;
    content: "";
    height: 0;
    /* 隐藏内容保留占位 */
    overflow: hidden;
}